@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: Koulen , sans-serif,;
}
marquee:hover{
    animation-play-state: paused;
}
marquee{
    animation: var(direction) var(marquee-speed) linear infinite;
}
@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}